<h1>Home Page</h1>

Not a user yet?
<%= link_to "Create User", new_user_path %>

<br />
Have an account but not yet logged in?
<%= link_to "Log in here!", login_path %>
<br />
Already a user?
<%= link_to "Start a new game!", new_game_path %>