<h1>Home Page</h1>

<br />
Not a user yet?
<%= link_to "Create User", new_user_path %>

<br /><br />
Have an account but not yet logged in?
<%= link_to "Log in here!", login_path %>
<br /><br />
Already a user?


<%= link_to "New game", games_path, :method => :post %>
