<footer class="footer">
  <small>
    The <a href="http://www.catan.com/game/catan-card-game">Settlers of Catan Card Game</a>
    by <a href='http://www.github.com/edlyonhart'>Eli Lyonhart</a>
  </small>
</footer>